body {
  background-color: #303030;
  font-family: 'Roboto', sans-serif;
  color: #7c7c7c;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*
* NAVBAR
*/

.navbar-collapse {
  justify-content: space-between;
  width: 100%;
}

header {
  background-color: #333333;
}

.logo {
  height: 105px;
}

/*-------------*/
span {
  color: white;
}

h2 {
  margin-top: 60px;
  margin-bottom: 10px;
}

h3 {
  font-size: 14px;
  color: white;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

.wig__chart {
  width: 164px;
  height: 164px;
  background: conic-gradient(
    rgba(221, 28, 28, 1) 0%,
    rgba(249, 160, 38, 1) 50%,
    rgba(191, 255, 17, 1) 100%
  );
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.wig__chart::after {
  width: 178px;
  height: 178px;
  border: 1px solid #bababa;
  background: none;
  content: ' ';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
}

.chart__data {
  background-color: #303030;
  width: 156px;
  height: 156px;
  margin: 4px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
}

.wig__label {
  color: white;
  font-size: 19px;
  font-weight: 500;
  width: 100%;
  display: block;
  padding-top: 40px;
  letter-spacing: 1px;
}

.wig__result {
  font-size: 36px;
  color: orange;
  width: 95%;
  display: block;
  letter-spacing: 1px;
  font-weight: 500;
}

.lead__number {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.lead__number .green {
  color: #99c31f;
}

.lead__number .orange {
  color: #f3b526;
}

.lead__number .red {
  color: rgba(221, 28, 28, 1);
}

.lead__details {
  width: 85%;
  padding: 60px 0 0;
  box-sizing: border-box;
  margin: 0 auto;
  display: block;
}

.lead__list {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  text-align: left;
  width: 100%;
}

.lead__list li {
  counter-increment: my-awesome-counter;
  width: 100%;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.lead__list li::before {
  content: counter(my-awesome-counter) '.';
  font-weight: bold;
  font-size: 14px;
  margin-right: 0.5rem;
  line-height: 1;
  color: #f3b526;
  text-align: right;
  width: 25px;
  display: inline-block;
}

.lead__progress {
  width: 50%;
  background: linear-gradient(
    90deg,
    rgba(221, 28, 28, 1) 0%,
    rgba(249, 160, 38, 1) 50%,
    rgba(191, 255, 17, 1) 100%
  );
  height: 5px;
  display: block;
  float: right;
  margin-top: 10px;
}

.remaining {
  height: 5px;
  background: #494949;
  display: block;
  float: right;
}

.chart__nps {
  width: 85%;
  padding: 60px 0 0;
  display: block;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
